services:
  hpdn-env:
    container_name: hpdn-env

    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        USER_UID: "${USER_UID:-1000}"
        USER_GID: "${USER_GID:-1000}"
        USERNAME: "${USERNAME:-hpuser}"

    environment:
      USER_UID: "${USER_UID:-1000}"
      USER_GID: "${USER_GID:-1000}"
      USERNAME: "${USERNAME:-hpuser}"
      DISPLAY: "unix${DISPLAY}"


    privileged: true
    pid: host

    networks:
      - hpdn_net

    command: ["/bin/bash", "-l"]

    stdin_open: true
    tty: true

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/home/${USERNAME}/.Xauthority:rw
      - ../:/home/${USERNAME}/environment
      - ovs_var:/var/lib/openvswitch
      - ovs_etc:/etc/openvswitch

volumes:
  ovs_var:
  ovs_etc:

networks:
  hpdn_net:
    driver: bridge
    internal: true
